* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

:root {
    font-size: 62.5%; /* 10px */
}

body {
    background: #F9F4FB;

    padding: 0 33px 309px;

    text-align: center;

    width: 430px;
    height: 679px;
    flex-shrink: 0;
}

img {
    width: 100%;
}

#home h1 {
    color: #B52184;

    text-align: center;
    font-family: Mulish;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#home h3 {
    color: #312D64;

    text-align: center;
    leading-trim: both;

    text-edge: cap;
    font-family: Mulish;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 3.5rem;
}

#img_home_1 {
    width: 364px;
    height: 370px;
    flex-shrink: 0;

    margin-bottom: 17px;

}

#img_home_2 {
    width: 58.587px;
    height: 105px;
    flex-shrink: 0;

    margin-bottom: 45px;
}

#section2 {
    

    height: 116rem;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 49px;
  
}

.card {


    width: 30rem;
    height: 34rem;
    background: white;
    border-radius: 1.2rem;

    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    //gap: 1rem;

}

.card h2 {

    font-size: 2.9rem;
    color: #B52184;
    font-style: normal;
    font-weight: 900;

    position: relative;

    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

}

.card p {


    font-size: 1.6rem;
    color: #312D64;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 20px;

    text-align: left;

    margin-botton: 3.3rem;
    
}

.card img {
    /*width: 80px;
    height: 80px;*/

    width: 7.0rem;
    height: 7.0rem;

    margin-top: 2.6rem;
    margin-botton: 3.3rem;

}